*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EADED0;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.nav {
    margin-top: 5px;
    margin-right: 20px;
}

.nav ul {
    display: flex;
    list-style: none;
}

.nav ul li{
    padding: 15px;
}

.nav ul li a {
    text-decoration: none;
    color: #4D2A39;
    font-weight: bold;
}

.bannerup{
    display: flex;
    height: 250px;
}

.bannerup .left{
    background-color: #8B6E81;
    width: 55%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
    border-bottom: #5C5659;
    margin-bottom: 10px;
}

#titulo {
    color: #4D2A39;
    letter-spacing: 5px;
}

.bannerup .right{
    background-color: #5C5659;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-profile{
    height: 90%;
    border-radius: 50%;
}

.bannerdown{
    display: flex;
    height: 50px;
}

.bannerdown .left{
    background-color: #5C5659;
    width: 55%;
    display: flex;
    justify-content: center;
}

h2{
    padding-top: 13px;
    color: #FFFFFF;
}

.bannerdown .right{
    background-color: #8B6E81;
    width: 45%;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #FFFFFF;
    color: #4D2A39;
    padding: 6px;
    margin: 12px;
    margin-right: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: none;
}

.btn:hover{
    background-color: #4D2A39;
    color: #FFFFFF;
    box-sizing: border-box ;
    cursor: pointer;
}

.section-works{
   text-align: center;
   padding: 20px;
     max-width: 800px;
    margin: auto;
    
}

.card{
    display: flex;

}

.card div img{
    width: 250px;
    height: 180px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px orange;
}

.card div img:hover{
    box-shadow: 5px 5px 5px 5px red;
    transition: 0.9s;
}

.text-works{
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform:  uppercase;
}

.container-detail{
    margin-left: 20px;
    text-align: center;
}

.container-detail h2{
    border: solid;
    text-transform: uppercase;
    padding: 10px;
}

.container-detail p{
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    font-size: 30px;
}

.link-portafolio{
    text-decoration: none;
}
