*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFFF;
}

.header {
    display: flex;
    justify-content: space-between;
}

nav {
    margin-top: 5px;
    margin-right: 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #4D2A39;
    font-weight: bold;
}

.btn {
    background-color: #4D2A39;
    color: #FFFFFF;
    padding: 6px;
    margin: 12px;
    margin-right: 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
}

.btn:hover{
    background-color: #FFFFFF;
    color: #4D2A39;
    border: 2px solid #4D2A39;
    cursor: pointer;
}

.bannerup{
    display: flex;
    height: 250px;
}

.bannerup .left{
    background-color: #8B6E81;
    width: 55%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.names {
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
    border-bottom: #5C5659;
    margin-bottom: 10px;
}

.surname {
    color: #4D2A39;
    letter-spacing: 5px;
    font-size: 32px;
    font-weight: bold;
}

.bannerup .right{
    background-color: #5C5659;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-profile{
    height: 90%;
    border-radius: 50%;
}

.bannerdown{
    display: flex;
    height: 50px;
}

.bannerdown .left{
    background-color: #5C5659;
    width: 55%;
    display: flex;
    justify-content: center;
}

h2{
    padding-top: 13px;
    color: #FFFFFF;
}

.bannerdown .right{
    background-color: #8B6E81;
    width: 45%;
    display: flex;
    justify-content: center;
}

.section-works {
    max-width: 800px;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  
  .card {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin: 25px;
  }
  
  .card div img {
    width: 300px;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  .card div img:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  
  .container-detail {
    text-align: center;
    margin-left: 20px;
    
  }
  
  .container-detail h2 {
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    background-color: #8B6E81;
    border-radius: 10px;
  
  }

  .container-detail p {
    margin-top: 20px;
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
   
  }
  
 
  
  .link-portafolio{
    text-decoration: none;
  }